<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <img src="img/avatars/chulls.jpg" class="img-avatar" />
    </template>\
    <template slot="dropdown">
      <p> </p>
      <h5 align='center'>Jose Luis Becerra</h5>
      <h6 align='center'>Vendedor</h6>
      <b-dropdown-divider />
      <b-dropdown-item><i class="fa fa-user" /> Profile</b-dropdown-item>
      <b-dropdown-item><i class="fa fa-shield" /> Lock Account</b-dropdown-item>
      <b-dropdown-item><i class="fa fa-lock" /> Logout</b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>

<script>
import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue'
export default {
  name: 'DefaultHeaderDropdownAccnt',
  components: {
    AppHeaderDropdown
  },
  data: () => {
    return { itemsCount: 42 }
  }
}
</script>
