<template>
      <TheFooter>
        <div>
          <!--footer-->
          <span class="ml-1">&copy; Proyecto basado en la tesis de Jose Becerra</span>
        </div>
        <div class="ml-auto">
          <span class="mr-1">Lima 2019</span>
        </div>
      </TheFooter>
</template>
<script>
import { Footer as TheFooter } from '@coreui/vue'
export default {
  name: 'DefaultFooter',
  components: {
    TheFooter
  },
}
</script>
