<template>
  <div class="animated fadeIn">
    <b-card header-tag="header" footer-tag="footer">
      <div slot="header">
        <strong>Cotizaciones</strong>
      </div>
      <div>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="search" class="form-control" placeholder="Buscar" v-model="busqueda"/>
            </div>
            <div class="form-group col-md-6">
              <button type="button" class="btn btn-outline-success" v-on:click="nuevaCoti">Nuevo</button>
            </div>
          </div>
        </form>
      </div>
      <c-table :table-data="filteredSearch" striped caption></c-table>
    </b-card>
  </div>
</template>

<script>
import { shuffleArray } from "@/shared/utils";
import cTable from "@/views/base/Table.vue";

export default {
  name: "cotizaciones",
  components: { cTable },
  data: () => {
    return {
      busqueda: '',
      items: [
        {
          id: 1,
          fecha: "2020/07/25",
          ruc: "50203308",
          cliente: "Alec Wynn",
          telefono: "17345700",
          moneda: "Dolares",
          total: "761,56"
        },
        {
          id: 2,
          fecha: "2019/05/25",
          ruc: "23324054",
          cliente: "Kadeem Ramirez",
          telefono: "18298718",
          moneda: "Dolares",
          total: "917,02"
        },
        {
          id: 3,
          fecha: "2019/08/16",
          ruc: "10108790",
          cliente: "Aristotle Hendrix",
          telefono: "77303444",
          moneda: "Soles",
          total: "481,61"
        },
        {
          id: 4,
          fecha: "2018/10/30",
          ruc: "21883356",
          cliente: "Laith Santos",
          telefono: "09931184",
          moneda: "Dolares",
          total: "699,07"
        },
        {
          id: 5,
          fecha: "2020/05/31",
          ruc: "19523631",
          cliente: "Hammett Kline",
          telefono: "05098118",
          moneda: "",
          total: "241,85"
        },
        {
          id: 6,
          fecha: "2020/09/28",
          ruc: "21360143",
          cliente: "Ray Arnold",
          telefono: "49760288",
          moneda: "",
          total: "266,98"
        },
        {
          id: 7,
          fecha: "2019/02/14",
          ruc: "41890832",
          cliente: "Maggy Hood",
          telefono: "73382046",
          moneda: "",
          total: "954,99"
        },
        {
          id: 8,
          fecha: "2020/05/23",
          ruc: "9477673",
          cliente: "Echo Ross",
          telefono: "70378184",
          moneda: "",
          total: "708,67"
        },
        {
          id: 9,
          fecha: "2019/11/15",
          ruc: "27525280",
          cliente: "Vance Moses",
          telefono: "53444116",
          moneda: "Dolares",
          total: "213,00"
        },
        {
          id: 10,
          fecha: "2020/08/27",
          ruc: "12836590",
          cliente: "Rudyard Blair",
          telefono: "51431163",
          moneda: "",
          total: "892,22"
        },
        {
          id: 11,
          fecha: "2019/06/05",
          ruc: "10446788",
          cliente: "Dillon Small",
          telefono: "77555732",
          moneda: "Dolares",
          total: "391,87"
        },
        {
          id: 12,
          fecha: "2019/09/18",
          ruc: "17146801",
          cliente: "Kameko Mcmahon",
          telefono: "13434126",
          moneda: "",
          total: "716,12"
        },
        {
          id: 13,
          fecha: "2019/03/15",
          ruc: "8520029",
          cliente: "Christopher Bowen",
          telefono: "63468927",
          moneda: "",
          total: "647,16"
        },
        {
          id: 14,
          fecha: "2020/08/27",
          ruc: "7452545",
          cliente: "Zeph Park",
          telefono: "82151945",
          moneda: "",
          total: "894,52"
        },
        {
          id: 15,
          fecha: "2020/09/01",
          ruc: "42994513",
          cliente: "Quamar Whitehead",
          telefono: "99648900",
          moneda: "",
          total: "669,77"
        },
        {
          id: 16,
          fecha: "2020/01/13",
          ruc: "20035037",
          cliente: "Patrick Conner",
          telefono: "91816844",
          moneda: "Soles",
          total: "918,47"
        },
        {
          id: 17,
          fecha: "2018/11/22",
          ruc: "9234280",
          cliente: "Zeus Hickman",
          telefono: "60997831",
          moneda: "Soles",
          total: "533,73"
        },
        {
          id: 18,
          fecha: "2020/08/06",
          ruc: "20286473",
          cliente: "Isaiah Blevins",
          telefono: "30206593",
          moneda: "Dolares",
          total: "342,75"
        },
        {
          id: 19,
          fecha: "2020/05/27",
          ruc: "44145069",
          cliente: "Macon Barker",
          telefono: "56052490",
          moneda: "Dolares",
          total: "686,62"
        },
        {
          id: 20,
          fecha: "2020/01/06",
          ruc: "32415038",
          cliente: "Jeanette Pace",
          telefono: "96745967",
          moneda: "Soles",
          total: "380,66"
        },
        {
          id: 21,
          fecha: "2020/07/28",
          ruc: "23122012",
          cliente: "Regan Young",
          telefono: "91524310",
          moneda: "Dolares",
          total: "761,13"
        },
        {
          id: 22,
          fecha: "2019/09/09",
          ruc: "46917054",
          cliente: "Miriam Hardy",
          telefono: "17980431",
          moneda: "Dolares",
          total: "901,50"
        },
        {
          id: 23,
          fecha: "2020/08/16",
          ruc: "39544730",
          cliente: "Chadwick Chaney",
          telefono: "36473116",
          moneda: "Dolares",
          total: "750,08"
        },
        {
          id: 24,
          fecha: "2019/11/14",
          ruc: "44341431",
          cliente: "Jack Mullins",
          telefono: "10507636",
          moneda: "Dolares",
          total: "308,20"
        },
        {
          id: 25,
          fecha: "2020/01/12",
          ruc: "29480809",
          cliente: "Leonard Garrett",
          telefono: "64816282",
          moneda: "Soles",
          total: "917,40"
        },
        {
          id: 26,
          fecha: "2019/01/05",
          ruc: "40506669",
          cliente: "Vanna Peterson",
          telefono: "86659194",
          moneda: "Soles",
          total: "739,57"
        },
        {
          id: 27,
          fecha: "2020/08/07",
          ruc: "49325783",
          cliente: "Russell Foley",
          telefono: "59834189",
          moneda: "Soles",
          total: "916,38"
        },
        {
          id: 28,
          fecha: "2018/11/16",
          ruc: "20459711",
          cliente: "Amal Hardin",
          telefono: "51973763",
          moneda: "Dolares",
          total: "644,40"
        },
        {
          id: 29,
          fecha: "2018/12/29",
          ruc: "35675243",
          cliente: "Hector Neal",
          telefono: "30641957",
          moneda: "Soles",
          total: "217,16"
        },
        {
          id: 30,
          fecha: "2019/02/12",
          ruc: "25379856",
          cliente: "Eric Cole",
          telefono: "18435095",
          moneda: "Soles",
          total: "351,22"
        },
        {
          id: 31,
          fecha: "2018/10/26",
          ruc: "49118282",
          cliente: "Hamilton Valenzuela",
          telefono: "01514680",
          moneda: "",
          total: "191,30"
        },
        {
          id: 32,
          fecha: "2019/08/05",
          ruc: "46995110",
          cliente: "Quamar Church",
          telefono: "13235524",
          moneda: "Soles",
          total: "692,40"
        },
        {
          id: 33,
          fecha: "2019/06/12",
          ruc: "49979111",
          cliente: "Anthony Irwin",
          telefono: "36936537",
          moneda: "Dolares",
          total: "697,78"
        },
        {
          id: 34,
          fecha: "2020/02/16",
          ruc: "25895714",
          cliente: "Aquila Pennington",
          telefono: "40058859",
          moneda: "Dolares",
          total: "752,16"
        },
        {
          id: 35,
          fecha: "2019/08/23",
          ruc: "25977459",
          cliente: "Venus Hahn",
          telefono: "56700157",
          moneda: "Soles",
          total: "655,27"
        },
        {
          id: 36,
          fecha: "2019/08/09",
          ruc: "49816239",
          cliente: "Ryan Schultz",
          telefono: "40072956",
          moneda: "Dolares",
          total: "636,02"
        },
        {
          id: 37,
          fecha: "2019/12/30",
          ruc: "8425476",
          cliente: "Jennifer Joyner",
          telefono: "35695467",
          moneda: "Dolares",
          total: "363,15"
        },
        {
          id: 38,
          fecha: "2020/06/09",
          ruc: "16426294",
          cliente: "Tashya Short",
          telefono: "92142728",
          moneda: "Soles",
          total: "543,96"
        },
        {
          id: 39,
          fecha: "2019/08/20",
          ruc: "22279716",
          cliente: "Thomas Oliver",
          telefono: "53626506",
          moneda: "Soles",
          total: "331,30"
        },
        {
          id: 40,
          fecha: "2019/01/19",
          ruc: "19312714",
          cliente: "Carol Gill",
          telefono: "75260698",
          moneda: "Dolares",
          total: "770,13"
        },
        {
          id: 41,
          fecha: "2019/09/25",
          ruc: "12061846",
          cliente: "Ori Mckenzie",
          telefono: "60329331",
          moneda: "",
          total: "941,91"
        },
        {
          id: 42,
          fecha: "2020/05/07",
          ruc: "23714517",
          cliente: "Gage Lane",
          telefono: "82511589",
          moneda: "Soles",
          total: "871,48"
        },
        {
          id: 43,
          fecha: "2019/05/28",
          ruc: "27231213",
          cliente: "Debra Petersen",
          telefono: "57783772",
          moneda: "Soles",
          total: "847,99"
        },
        {
          id: 44,
          fecha: "2019/04/03",
          ruc: "29089195",
          cliente: "Kendall Chavez",
          telefono: "95652646",
          moneda: "Dolares",
          total: "539,19"
        },
        {
          id: 45,
          fecha: "2020/06/19",
          ruc: "19047103",
          cliente: "Galvin Byrd",
          telefono: "58384094",
          moneda: "",
          total: "938,27"
        },
        {
          id: 46,
          fecha: "2019/11/08",
          ruc: "43053046",
          cliente: "Jacob Holcomb",
          telefono: "14413421",
          moneda: "Soles",
          total: "778,19"
        },
        {
          id: 47,
          fecha: "2019/01/09",
          ruc: "45239524",
          cliente: "Fredericka Parsons",
          telefono: "60716494",
          moneda: "Soles",
          total: "411,22"
        },
        {
          id: 48,
          fecha: "2020/02/06",
          ruc: "35722057",
          cliente: "Yetta Mcclure",
          telefono: "53784398",
          moneda: "Soles",
          total: "205,40"
        },
        {
          id: 49,
          fecha: "2018/10/09",
          ruc: "18561759",
          cliente: "Eleanor Head",
          telefono: "63523772",
          moneda: "Soles",
          total: "352,85"
        },
        {
          id: 50,
          fecha: "2019/12/16",
          ruc: "15439504",
          cliente: "Tobias Ray",
          telefono: "97712084",
          moneda: "Dolares",
          total: "462,08"
        },
        {
          id: 51,
          fecha: "2020/04/24",
          ruc: "17832852",
          cliente: "Upton Dean",
          telefono: "38514963",
          moneda: "Soles",
          total: "443,23"
        },
        {
          id: 52,
          fecha: "2020/08/24",
          ruc: "30543373",
          cliente: "Clarke Keith",
          telefono: "94079004",
          moneda: "Dolares",
          total: "954,71"
        },
        {
          id: 53,
          fecha: "2018/11/19",
          ruc: "50431232",
          cliente: "Oren Sanford",
          telefono: "74215237",
          moneda: "Soles",
          total: "376,52"
        },
        {
          id: 54,
          fecha: "2020/03/29",
          ruc: "13752745",
          cliente: "Mark Stein",
          telefono: "00071583",
          moneda: "Dolares",
          total: "862,17"
        },
        {
          id: 55,
          fecha: "2019/05/11",
          ruc: "46838478",
          cliente: "Megan Pena",
          telefono: "28104621",
          moneda: "Dolares",
          total: "787,95"
        },
        {
          id: 56,
          fecha: "2020/08/05",
          ruc: "12738959",
          cliente: "Ava Preston",
          telefono: "25570154",
          moneda: "",
          total: "392,78"
        },
        {
          id: 57,
          fecha: "2019/10/25",
          ruc: "18643855",
          cliente: "Alika Berg",
          telefono: "01899265",
          moneda: "Dolares",
          total: "318,66"
        },
        {
          id: 58,
          fecha: "2020/07/01",
          ruc: "40212214",
          cliente: "Boris Diaz",
          telefono: "46315572",
          moneda: "",
          total: "398,55"
        },
        {
          id: 59,
          fecha: "2020/09/11",
          ruc: "47963265",
          cliente: "Kato Noble",
          telefono: "87676862",
          moneda: "Dolares",
          total: "603,44"
        },
        {
          id: 60,
          fecha: "2020/05/04",
          ruc: "30202071",
          cliente: "Joseph Hubbard",
          telefono: "40826068",
          moneda: "Dolares",
          total: "211,98"
        },
        {
          id: 61,
          fecha: "2020/06/01",
          ruc: "24616627",
          cliente: "Evan Kaufman",
          telefono: "74867711",
          moneda: "",
          total: "802,06"
        },
        {
          id: 62,
          fecha: "2019/07/24",
          ruc: "32593620",
          cliente: "Aretha Duffy",
          telefono: "98911318",
          moneda: "Dolares",
          total: "100,40"
        },
        {
          id: 63,
          fecha: "2020/06/06",
          ruc: "5843348",
          cliente: "Matthew Mcfadden",
          telefono: "40733048",
          moneda: "Soles",
          total: "959,14"
        },
        {
          id: 64,
          fecha: "2018/12/19",
          ruc: "10043557",
          cliente: "Victoria Ryan",
          telefono: "84406290",
          moneda: "Dolares",
          total: "519,26"
        },
        {
          id: 65,
          fecha: "2020/06/27",
          ruc: "50199908",
          cliente: "Amanda Sims",
          telefono: "19061044",
          moneda: "Soles",
          total: "927,87"
        },
        {
          id: 66,
          fecha: "2019/03/07",
          ruc: "27987746",
          cliente: "Martin Bradford",
          telefono: "48110243",
          moneda: "Soles",
          total: "147,48"
        },
        {
          id: 67,
          fecha: "2019/10/09",
          ruc: "18426916",
          cliente: "Neil Campbell",
          telefono: "76936535",
          moneda: "Soles",
          total: "885,86"
        },
        {
          id: 68,
          fecha: "2019/03/03",
          ruc: "48509134",
          cliente: "Chelsea Carter",
          telefono: "57183621",
          moneda: "Soles",
          total: "790,79"
        },
        {
          id: 69,
          fecha: "2020/01/16",
          ruc: "9770072",
          cliente: "Armand Joyner",
          telefono: "48298186",
          moneda: "",
          total: "559,56"
        },
        {
          id: 70,
          fecha: "2019/01/27",
          ruc: "30323058",
          cliente: "Kennedy Dodson",
          telefono: "68088051",
          moneda: "Dolares",
          total: "381,76"
        },
        {
          id: 71,
          fecha: "2019/04/04",
          ruc: "25490080",
          cliente: "Madaline Solomon",
          telefono: "49702825",
          moneda: "",
          total: "572,41"
        },
        {
          id: 72,
          fecha: "2020/07/01",
          ruc: "14605229",
          cliente: "Brynne Moreno",
          telefono: "68805659",
          moneda: "Dolares",
          total: "957,97"
        },
        {
          id: 73,
          fecha: "2018/10/08",
          ruc: "27796324",
          cliente: "Celeste Hamilton",
          telefono: "39236218",
          moneda: "Soles",
          total: "824,41"
        },
        {
          id: 74,
          fecha: "2020/01/06",
          ruc: "8277213",
          cliente: "Mark Harrell",
          telefono: "32699750",
          moneda: "Soles",
          total: "498,04"
        },
        {
          id: 75,
          fecha: "2020/02/12",
          ruc: "29656312",
          cliente: "Faith Humphrey",
          telefono: "33839011",
          moneda: "",
          total: "478,92"
        },
        {
          id: 76,
          fecha: "2020/04/15",
          ruc: "49619377",
          cliente: "Tara Tran",
          telefono: "46949597",
          moneda: "Dolares",
          total: "960,69"
        },
        {
          id: 77,
          fecha: "2020/07/13",
          ruc: "40176117",
          cliente: "Shoshana Schroeder",
          telefono: "59641321",
          moneda: "Dolares",
          total: "719,34"
        },
        {
          id: 78,
          fecha: "2019/08/30",
          ruc: "42042923",
          cliente: "Kevin Cross",
          telefono: "71127141",
          moneda: "Soles",
          total: "107,10"
        },
        {
          id: 79,
          fecha: "2020/01/18",
          ruc: "35394735",
          cliente: "Gil Wiggins",
          telefono: "76567263",
          moneda: "Dolares",
          total: "821,00"
        },
        {
          id: 80,
          fecha: "2018/10/09",
          ruc: "22358688",
          cliente: "Kieran Mcknight",
          telefono: "90255213",
          moneda: "Dolares",
          total: "520,86"
        },
        {
          id: 81,
          fecha: "2020/06/19",
          ruc: "36787264",
          cliente: "Nicole Knight",
          telefono: "07244674",
          moneda: "Dolares",
          total: "685,45"
        },
        {
          id: 82,
          fecha: "2019/08/13",
          ruc: "9909419",
          cliente: "Ora Hurley",
          telefono: "45107560",
          moneda: "",
          total: "568,42"
        },
        {
          id: 83,
          fecha: "2019/11/06",
          ruc: "12147079",
          cliente: "Basil Suarez",
          telefono: "08388976",
          moneda: "Soles",
          total: "853,03"
        },
        {
          id: 84,
          fecha: "2020/01/09",
          ruc: "29634012",
          cliente: "Cody Rasmussen",
          telefono: "42030301",
          moneda: "",
          total: "209,82"
        },
        {
          id: 85,
          fecha: "2018/10/21",
          ruc: "28898656",
          cliente: "Caleb Hebert",
          telefono: "42150057",
          moneda: "Soles",
          total: "637,74"
        },
        {
          id: 86,
          fecha: "2019/11/02",
          ruc: "14871779",
          cliente: "Alfonso Roach",
          telefono: "43665554",
          moneda: "Soles",
          total: "477,23"
        },
        {
          id: 87,
          fecha: "2019/01/07",
          ruc: "6548911",
          cliente: "Chaney Bolton",
          telefono: "45113812",
          moneda: "Dolares",
          total: "382,19"
        },
        {
          id: 88,
          fecha: "2019/01/01",
          ruc: "10486878",
          cliente: "Lyle Mcgee",
          telefono: "35330115",
          moneda: "Dolares",
          total: "910,24"
        },
        {
          id: 89,
          fecha: "2019/11/06",
          ruc: "13974179",
          cliente: "Arden Hogan",
          telefono: "99739692",
          moneda: "Dolares",
          total: "536,88"
        },
        {
          id: 90,
          fecha: "2020/09/23",
          ruc: "26440488",
          cliente: "Ursa Spencer",
          telefono: "71989361",
          moneda: "Dolares",
          total: "866,44"
        },
        {
          id: 91,
          fecha: "2019/08/10",
          ruc: "19691578",
          cliente: "Natalie Wall",
          telefono: "58350010",
          moneda: "Dolares",
          total: "732,14"
        },
        {
          id: 92,
          fecha: "2020/09/16",
          ruc: "37649011",
          cliente: "Dale Rosario",
          telefono: "71909699",
          moneda: "Soles",
          total: "797,52"
        },
        {
          id: 93,
          fecha: "2020/03/15",
          ruc: "27448734",
          cliente: "Aidan Mcneil",
          telefono: "68630428",
          moneda: "Soles",
          total: "342,16"
        },
        {
          id: 94,
          fecha: "2019/11/27",
          ruc: "38720499",
          cliente: "Alisa Mccoy",
          telefono: "50358379",
          moneda: "",
          total: "337,02"
        },
        {
          id: 95,
          fecha: "2018/12/06",
          ruc: "39521598",
          cliente: "Neil Herrera",
          telefono: "36836260",
          moneda: "Dolares",
          total: "490,79"
        },
        {
          id: 96,
          fecha: "2019/07/03",
          ruc: "12632561",
          cliente: "Eliana West",
          telefono: "34267141",
          moneda: "Soles",
          total: "120,94"
        },
        {
          id: 97,
          fecha: "2018/11/28",
          ruc: "12897948",
          cliente: "Nyssa Burton",
          telefono: "23898259",
          moneda: "Soles",
          total: "702,42"
        },
        {
          id: 98,
          fecha: "2019/03/05",
          ruc: "9467758",
          cliente: "Gannon Harrington",
          telefono: "20306436",
          moneda: "",
          total: "319,69"
        },
        {
          id: 99,
          fecha: "2019/08/28",
          ruc: "8241041",
          cliente: "Mohammad Murphy",
          telefono: "22803437",
          moneda: "Soles",
          total: "125,76"
        },
        {
          id: 100,
          fecha: "2019/08/28",
          ruc: "6088964",
          cliente: "Avye Finley",
          telefono: "76817566",
          moneda: "Dolares",
          total: "361,57"
        }
      ],
      fields: [
        { key: "id", label: "ID", sortable: true },
        { key: "fecha", label: "Fecha" },
        { key: "ruc", label: "RUC" },
        { key: "cliente", label: "Cliente" },
        { key: "telefono", label: "Telefono" },
        { key: "moneda", label: "Moneda" },
        { key: "total", label: "Total" }
      ]
    };
  },
  methods: {
    nuevaCoti() {
      this.$router.push("cotizaciones/nuevaCotizacion");
    }
  },
  computed: {
    filteredSearch(){
      if(this.busqueda){
        return this.items.filter(
          (item)=> {return item.ruc.toLowerCase().includes(this.busqueda.toLowerCase()) ||
          item.cliente.toLowerCase().includes(this.busqueda.toLowerCase())}
        );
      }else{
        return this.items;
      }
    }
  }
};
</script>

<style>
div button {
  position: absolute;
  right: 20px;
  top: 5px;
}
</style>
