<template>
  <div class="animated fadeIn">
    <b-card header-tag="header" footer-tag="footer">
      <div slot="header">
        <strong>Nueva Cotizacion</strong>
      </div>
      <div>
        <form>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>
                Cliente
                <button type="button" class="btn btn-outline-success ban" @click="myModal=!myModal">+ Agregar</button>
                <!-- <span class="badge badge-success" @click="myModal=!myModal">[ + Agregar ]</span> -->
              </label>
              <autocompletado :items="clientes" v-on:input="getBusqueda($event)"/>
            </div>
            <div class="form-group col-md-2">
              <div class="form-row centrado">
                <label>Moneda</label>
              </div>
              <select class="form-control" v-model="monedaSeleccionada">
                <option
                  v-for="moneda in monedas"
                  :value="moneda"
                  :key="moneda.descripcion"
                >{{ moneda.descripcion }}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <div class="form-row centrado">
                <label>Serie</label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" placeholder="Serie" />
                </div>
                <div class="form-group col-md-8">
                  <input type="text" class="form-control" placeholder="Correlativo" />
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="form-row centrado">
                <label>Fecha Cotizacion</label>
              </div>
              <Datepicker
                :bootstrap-styling="true"
                v-model="configuracionCalendario.fechaSeleccionada"
                placeholder="Seleccione Fecha"
                :calendar-button="true"
                calendar-button-icon="fa fa-calendar"
                :format="configuracionCalendario.format"
              ></Datepicker>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Direccion</label>
              <input type="text" class="form-control" placeholder="Direccion" />
            </div>
            <div class="form-group col-md-3">
              <label>Cond Pago</label>
              <select class="form-control" v-model="condPagoSeleccionada">
                <option
                  v-for="cp in condPagos"
                  :value="cp"
                  :key="cp.descripcion"
                >{{ cp.descripcion }}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <p> </p>
            </div>
            <div class="form-group col-md-3">
              <div class="form-row centrado">
                <label>Fecha Disponible</label>
              </div>
              <Datepicker
                :bootstrap-styling="true"
                v-model="configuracionCalendario.fechaDisponible"
                placeholder="Seleccione Fecha"
                :calendar-button="true"
                calendar-button-icon="fa fa-calendar"
                :format="configuracionCalendario.format"
              ></Datepicker>
            </div>
          </div>
        </form>
      </div>
      <cTable :table-data="items" striped caption />
      <modalCliente v-bind:myModal="myModal"></modalCliente>
      <form>
        <div class="form-row">
          <div class="form-group col-md-10" style="float:left;">
            <button
              type="button"
              class="btn btn-outline-success"
              @click="addProd=!addProd"
            >Agregar Producto</button>
          </div>
          <div class="form-group col-md-2">
            <label>Subtotal: S/.{{subtotal}}</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-10">
            <p></p>
          </div>
          <div class="form-group col-md-2">
            <label>Igv: S/.{{igv}}</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-10">
            <button type="button" class="btn btn-outline-danger">Cancelar</button>
          </div>
          <div class="form-group col-md-2">
            <label>Otros: S/.{{otros}}</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <p></p>
          </div>
          <div class="form-group col-md-5">
            <button type="button" class="btn btn-outline-success">Cotizar</button>
          </div>
          <div class="form-group col-md-2">
            <label>Total: S/.{{total}}</label>
          </div>
        </div>
      </form>
      <modalProducto v-bind:addProd="addProd"></modalProducto>
    </b-card>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import { shuffleArray } from "@/shared/utils";
import cTable from "@/views/base/Table.vue";
import modalCliente from "@/views/propias/utilidades/ModalNuevoCliente.vue";
import modalProducto from "@/views/propias/utilidades/ModalAgregarProducto.vue";
import autocompletado from "@/views/propias/utilidades/Autocomplete.vue";

const someData = () =>
  shuffleArray([
    {
      id: 1,
      nroArticulo: "S0O9L7",
      descripcion: "Mauris non",
      cantidad: 69,
      precio: "38.15",
      igv: "2.71",
      desc: "1.58",
      almacen: "Libero Dui Nec Corp.",
      total: "0.0"
    },
    {
      id: 2,
      nroArticulo: "B4B7K6",
      descripcion: "vitae erat",
      cantidad: 88,
      precio: "10.50",
      igv: "9.62",
      desc: "1.43",
      almacen: "Donec Incorporated",
      total: "0.0"
    },
    {
      id: 3,
      nroArticulo: "V6B9B5",
      descripcion: "dignissim",
      cantidad: 46,
      precio: "2.56",
      igv: "4.16",
      desc: "6.56",
      almacen: "Pellentesque Habitant Inc.",
      total: "0.0"
    },
    {
      id: 4,
      nroArticulo: "K7A8R9",
      descripcion: "mauris.",
      cantidad: 88,
      precio: "0.83",
      igv: "5.45",
      desc: "2.66",
      almacen: "Molestie Arcu PC",
      total: "0.0"
    },
    {
      id: 5,
      nroArticulo: "B4W4O7",
      descripcion: "diam eu",
      cantidad: 4,
      precio: "25.32",
      igv: "1.87",
      desc: "2.47",
      almacen: "Et Risus Quisque Company",
      total: "0.0"
    },
    {
      id: 6,
      nroArticulo: "H3L7X9",
      descripcion: "arcu imperdiet",
      cantidad: 37,
      precio: "6.69",
      igv: "3.22",
      desc: "7.89",
      almacen: "Nonummy Foundation",
      total: "0.0"
    },
    {
      id: 7,
      nroArticulo: "B0G4G6",
      descripcion: "volutpat",
      cantidad: 7,
      precio: "85.91",
      igv: "9.55",
      desc: "7.61",
      almacen: "Leo Morbi Ltd",
      total: "0.0"
    },
    {
      id: 8,
      nroArticulo: "C3U2P0",
      descripcion: "Cum sociis",
      cantidad: 15,
      precio: "56.99",
      igv: "0.08",
      desc: "8.17",
      almacen: "Porta Elit A LLC",
      total: "0.0"
    },
    {
      id: 9,
      nroArticulo: "H6E3A8",
      descripcion: "iaculis",
      cantidad: 77,
      precio: "46.87",
      igv: "7.94",
      desc: "8.96",
      almacen: "Duis Company",
      total: "0.0"
    },
    {
      id: 10,
      nroArticulo: "B5Q0K3",
      descripcion: "pede sagittis",
      cantidad: 24,
      precio: "73.72",
      igv: "7.49",
      desc: "7.70",
      almacen: "Placerat Eget Venenatis PC",
      total: "0.0"
    }
  ]);

export default {
  name: "nueva-cotizacion",
  data: () => {
    return {
      configuracionCalendario: {
        format: "dd-MM-yyyy",
        fechaCotizacion: new Date(),
        fechaDisponible: null
      },
      monedaSeleccionada: null,
      condPagoSeleccionada: null,
      myModal: false,
      addProd: false,
      subtotal: 143.0,
      igv: 1.0,
      otros: 0.0,
      total: 144.0,
      search: "",
      clientes: [
        {
          id: 1,
          ruc: "23856659",
          razonSocial: "Melinda Mendez"
        },
        {
          id: 2,
          ruc: "8122728",
          razonSocial: "Clinton Sandoval"
        },
        {
          id: 3,
          ruc: "14024946",
          razonSocial: "Amena Cline"
        },
        {
          id: 4,
          ruc: "9001378",
          razonSocial: "Julie Cantu"
        },
        {
          id: 5,
          ruc: "48729105",
          razonSocial: "Keefe Bentley"
        },
        {
          id: 6,
          ruc: "42060858",
          razonSocial: "Alfonso Cunningham"
        },
        {
          id: 7,
          ruc: "9215333",
          razonSocial: "Dustin Stokes"
        },
        {
          id: 8,
          ruc: "17822182",
          razonSocial: "Ocean Harding"
        },
        {
          id: 9,
          ruc: "48681060",
          razonSocial: "Cameron Barker"
        },
        {
          id: 10,
          ruc: "18615133",
          razonSocial: "Sacha Hubbard"
        },
        {
          id: 11,
          ruc: "18858982",
          razonSocial: "Ishmael Lambert"
        },
        {
          id: 12,
          ruc: "22390138",
          razonSocial: "Orli Hebert"
        },
        {
          id: 13,
          ruc: "13248646",
          razonSocial: "Jacqueline Mccall"
        },
        {
          id: 14,
          ruc: "43453136",
          razonSocial: "Macey Mcgee"
        },
        {
          id: 15,
          ruc: "47001865",
          razonSocial: "Cyrus Baldwin"
        },
        {
          id: 16,
          ruc: "17788301",
          razonSocial: "Carla Freeman"
        },
        {
          id: 17,
          ruc: "34800148",
          razonSocial: "Neve Miranda"
        },
        {
          id: 18,
          ruc: "45149487",
          razonSocial: "Herrod Ellis"
        },
        {
          id: 19,
          ruc: "21689612",
          razonSocial: "Nichole Glover"
        },
        {
          id: 20,
          ruc: "45908212",
          razonSocial: "Shannon Glenn"
        }
      ],
      monedas: [{ descripcion: "Soles" }, { descripcion: "Dolares" }],
      condPagos: [{ descripcion: "A 30 dias" }, { descripcion: "A 60 dias" }],
      items: someData,
      itemsArray: someData(),
      fields: [
        { key: "id", label: "Id", sortable: true },
        { key: "nroArticulo", label: "Nro Articulo" },
        { key: "descripcion", label: "Descripcion" },
        { key: "cantidad", label: "Cant" },
        { key: "precio", label: "Precio" },
        { key: "igv", label: "IGV" },
        { key: "desc", label: "Desc" },
        { key: "almacen", label: "Almacen" },
        { key: "total", label: "Total" }
      ]
    };
  },
  components: {
    Datepicker,
    cTable,
    modalCliente,
    modalProducto,
    autocompletado
  },
  methods:{
    getBusqueda(event){
      console.log('this.event ', event);
      this.search = event;
      console.log('this.search ', this.search.ruc);
    }
  }
};
</script>

<style>
.centrado {
  width: 50%;
  margin: 0 auto;
}
.littleB {
  font-size: 10px;
  padding: 6px 10px;
}
.ban{
  text-align: center;
  font-size: 10px;
  padding: 1px 1px 1px 1px;
  float: right;
  margin-left: 274px;
}
</style>