<template>
  <div class="wrapper">
    <!-- Modal Component -->
    <b-modal title="Nuevo Cliente" v-model="myModal" @ok="myModal = !myModal" size="lg">
      <div>
        <b-nav justified tabs>
          <b-nav-item v-bind:active="tab === 1" v-on:click="tab = 1">GENERAL</b-nav-item>
          <b-nav-item v-bind:active="tab === 2" v-on:click="tab = 2">PERSONA CONTACTO</b-nav-item>
          <b-nav-item v-bind:active="tab === 3" v-on:click="tab = 3">DESTINO</b-nav-item>
        </b-nav>
        <div class="secciones">
          <div v-if="tab==1">
            <form class="m-5">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Apellido</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Posicion</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Correo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="button" class="btn btn-outline-success">Otro contacto</button>
                </div>
                <div class="col-sm-1">
                  <p> </p>
                </div>
                <div class="col-sm-1">
                  <span class="derecha" v-on:click="tab = 2">
                    <i class="fa fa-arrow-right icono"></i>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <div v-if="tab==2">
            <form class="m-4">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Tipo Cliente</label>
                  <select class="form-control" v-model="tipoClienteSeleccionado">
                    <option
                      v-for="tipoCliente in tipoClientes"
                      :value="tipoCliente.descripcion"
                      :key="tipoCliente.descripcion"
                    >{{ tipoCliente.descripcion }}</option>
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <p></p>
                </div>
                <div class="form-group col-md-5">
                  <label>Nro Documento</label>
                  <input type="search" class="form-control" placeholder="Nro Documento" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Razon Social</label>
                  <input type="text" class="form-control" placeholder="Razon Social" />
                </div>
                <div class="form-group col-md-1">
                  <p></p>
                </div>
                <div class="form-group col-md-5">
                  <label>Departamento</label>
                  <select
                    class="form-control"
                    v-model="departamentoSeleccionado"
                    @change="filtrarProvincia($event)"
                  >
                    <option
                      v-for="dpto in departamentos"
                      :value="dpto.id"
                      :key="dpto.id"
                    >{{ dpto.descripcion }}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Direccion</label>
                  <input type="text" class="form-control" placeholder="Direccion" />
                </div>
                <div class="form-group col-md-1">
                  <p></p>
                </div>
                <div class="form-group col-md-5">
                  <label>Provincia</label>
                  <select
                    class="form-control"
                    v-model="provinciaSeleccionado"
                    @change="filtrarDistrito($event)"
                  >
                    <option
                      v-for="prov in provincias"
                      :value="prov.id"
                      :key="prov.id"
                    >{{ prov.descripcion }}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-7">
                  <p></p>
                </div>
                <div class="form-group col-md-5">
                  <label>Distrito</label>
                  <select class="form-control" v-model="distritoSeleccionado">
                    <option
                      v-for="dist in distritos"
                      :value="dist.id"
                      :key="dist.id"
                    >{{ dist.descripcion }}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-10">
                  <p></p>
                </div>
                <div class="form-group col-md-2">
                  <span class="derecha" v-on:click="tab = 3">
                    <i class="fa fa-arrow-right icono"></i>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <div v-if="tab==3">
            <form class="m-4">              
              <div class="form-row">
                <div class="form-group col-md-5">
                  <label>Departamento</label>
                  <select
                    class="form-control"
                    v-model="departamentoSeleccionado3"
                    @change="filtrarProvincia($event)"
                  >
                    <option
                      v-for="dpto in departamentos"
                      :value="dpto.id"
                      :key="dpto.id"
                    >{{ dpto.descripcion }}</option>
                  </select>
                </div>
                <div class="form-group col-md-1">
                  <p></p>
                </div>
                <div class="form-group col-md-6">
                  <label>CALLE / JIRON / AV / #</label>
                  <input type="text" class="form-control" placeholder="CALLE / JIRON / AV / #" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-5">
                  <label>Provincia</label>
                  <select
                    class="form-control"
                    v-model="provinciaSeleccionado3"
                    @change="filtrarDistrito($event)"
                  >
                    <option
                      v-for="prov in provincias"
                      :value="prov.id"
                      :key="prov.id"
                    >{{ prov.descripcion }}</option>
                  </select>
                </div>                
              </div>
              <div class="form-row">                
                <div class="form-group col-md-5">
                  <label>Distrito</label>
                  <select class="form-control" v-model="distritoSeleccionado3">
                    <option
                      v-for="dist in distritos"
                      :value="dist.id"
                      :key="dist.id"
                    >{{ dist.descripcion }}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-10">
                  <p></p>
                </div>
                <div class="form-group col-md-2">
                  <button type="button" class="btn btn-outline-success">Crear Cliente</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "modal",
  data() {
    return {
      tab: 1,
      tipoClienteSeleccionado: null,
      departamentoSeleccionado: null,
      provinciaSeleccionado: null,
      distritoSeleccionado: null,
      departamentoSeleccionado3: null,
      provinciaSeleccionado3: null,
      distritoSeleccionado3: null,
      provincias: [],
      distritos: [],
      tipoClientes: [{ descripcion: "JURIDICO" }, { descripcion: "NATURAL" }],
      departamentos: [
        { id: 1, descripcion: "CUSCO" },
        { id: 2, descripcion: "LIMA" }
      ],
      provinciasTotal: [
        { id: 1, idDpto: 2, descripcion: "CANETE" },
        { id: 2, idDpto: 2, descripcion: "LIMA" },
        { id: 3, idDpto: 1, descripcion: "PAUCARTAMBO" },
        { id: 4, idDpto: 1, descripcion: "CUSCO" }
      ],
      distritosTotal: [
        { id: 1, idProv: 1, descripcion: "CANETE" },
        { id: 2, idProv: 2, descripcion: "SAN MIGUEL" },
        { id: 3, idProv: 2, descripcion: "SAN ISIDRO" },
        { id: 4, idProv: 3, descripcion: "PAUCARTAMBO 1" },
        { id: 5, idProv: 3, descripcion: "PAUCARTAMBO 2" },
        { id: 6, idProv: 4, descripcion: "CUSCO" }
      ]
    };
  },
  props: {
    myModal: Boolean
  },
  methods: {
    filtrarProvincia(event) {
      var idDpto = event.target.value;
      this.provincias = this.provinciasTotal.filter(function(item) {
        return item.idDpto == idDpto;
      });
    },
    filtrarDistrito(event) {
      var idProv = event.target.value;
      this.distritos = this.distritosTotal.filter(function(item) {
        return item.idProv == idProv;
      });
    }
  }
};
</script>

<style>
.derecha {
  float: right;
}
.icono{
  font-size: 2.5em;
  color: darkseagreen; 
}
</style>