<template>
  <div class="wrapper">
    <!-- Modal Component -->
    <b-modal title="Agregar Producto" v-model="addProd" @ok="addProd = !addProd" size="lg">
      <div>
        <form class="m-4">
          <div class="form-row">
            <div class="form-group col-md-4">
              <input type="search" class="form-control" placeholder="Buscar" v-model="busqueda"/>
            </div>
            <div class="form-group col-md-4">
              <p></p>
            </div>
            <div class="form-group col-md-2">
              <button type="button" class="btn btn-outline-success">Agregar</button>
            </div>
            <div class="form-group col-md-2">
              <button type="button" class="btn btn-outline-danger">Cancelar</button>
            </div>
          </div>
          <cTable :table-data="filteredSearch" striped caption />
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
import cTable from "@/views/base/Table.vue";

export default {
  name: "modalAdd",
  data() {
    return {
      busqueda: '',
      productos: [
        {
          nroArticulo: "12345",
          descripcion: "Prod1",
          stock: "12",
          familia: "Familia1",
          almacen: "Almacen1"
        },
        {
          nroArticulo: "12346",
          descripcion: "Prod2",
          stock: "21",
          familia: "Familia3",
          almacen: "Almacen1"
        },
        {
          nroArticulo: "12347",
          descripcion: "Prod3",
          stock: "4",
          familia: "Familia1",
          almacen: "Almacen2"
        },
        {
          nroArticulo: "12348",
          descripcion: "Prod4",
          stock: "22",
          familia: "Familia5",
          almacen: "Almacen2"
        },
        {
          nroArticulo: "12349",
          descripcion: "Prod5",
          stock: "65",
          familia: "Familia4",
          almacen: "Almacen2"
        },
        {
          nroArticulo: "12350",
          descripcion: "Prod6",
          stock: "7",
          familia: "Familia2",
          almacen: "Almacen1"
        }
      ],
      fields: [
        { key: "nroArticulo", label: "Nro Articulo" },
        { key: "descripcion", label: "Descripcion" },
        { key: "stock", label: "Stock" },
        { key: "familia", label: "Familia" },
        { key: "almacen", label: "Almacen" }
      ]
    };
  },
  components: { cTable },
  props: {
    addProd: Boolean
  },
  computed: {
    filteredSearch(){
      if(this.busqueda){
        return this.productos.filter(
          (item)=> {return item.nroArticulo.toLowerCase().includes(this.busqueda.toLowerCase()) ||
          item.descripcion.toLowerCase().includes(this.busqueda.toLowerCase())}
        );
      }else{
        return this.productos;
      }
    }
  }
};
</script>

<style>
.derecha {
  float: right;
}
</style>